.messageContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--view-overlay-background);
    color: var(--color-title);
    z-index: 1000;
}
.messageContent {
    width: 25vw;
    padding: 30px;
    border-radius: 15px;
    background: var(--color-primary);
}
.confirmBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.title {
    font-size: 1.3rem;
}
.message {
    font-size: 0.875rem;
}
.actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.actions > span {
    flex: 1 1 auto;    
    background: var(--color-secundary);
}
.actions > span:hover {
    cursor: pointer;
}
.messageIcon svg {
    fill: var(--warning);
    width: 80px;
    height: 80px;
    padding: 10px;
}
@media (max-width: 991px) {
    .messageContent {
        width: 50vw;
    }
    .messageIcon svg {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 480px) {
    .messageContent {
        width: 75vw;
    }
}