.info {
    padding: 20px 25px;
}
.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 30px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--color-title);
}
.title p {
    font-size: 1rem;
    font-weight: 600;
}
.title span {
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}
.data {
    max-width: 700px;
    padding: 50px 100px;
}
.data p {
    color: var(--color-subtitle);
    margin: 10px 0;
}
.button {
    max-width: 250px;
    margin: 40px 30px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button span {
    border-color: var(--purple);
    border-left-color: transparent;
}
.button input[type="submit"] {
    color: var(--color-title);
}
.loading input[type="submit"] {
    color: var(--purple);
}
.loading input[type="submit"]:disabled {
    filter: var(--submit-button-disabled-filter);
}
.success {
    padding: 40px;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--success);
    margin: 0 0px -30px 0;
}
.error {
    padding: 40px;
    background: var(--color-secundary);
    color: var(--error);
    margin: 0 0px -30px 0;
}
.textEditor {
    background: var(--input-background);
    border: var(--input-border);
    border-radius: 10px;
}
.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}
.filesButton, .removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-title);
    background: var(--color-secundary);
    border: 3px solid var(--color-secundary);
}
.removeButton {
    background: transparent;
    border: 3px solid var(--color-secundary);
}
.files input {
    display: none;
}
.fileItem {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 15px 0;
}
.fileItem span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--purple);
    color: var(--white);
    transition: 0.4s;
}
.fileItem span:hover {
    filter: brightness(1.2);
}
.fileItem p {
    margin: 0 20px;
    font-size: 1rem;
    color: var(--purple-extra-light);
}
@media (max-width: 991px) {
    .data {
        padding: 50px 10px;
    }
}
@media (max-width: 767px) {
    .data {
        padding: 50px 0px;
    }
    .coverHeader {
        margin: 0 10px;
    }
    .previewContainer {
        min-height: 200px ;
    }
    .coverPreview {
        min-height: 150px;
    }
    .info {
        padding: 15px 0;
    }
}