.slide {
    width: 0px;
    height: 0px;
    opacity: 0;
    contain: content;
    margin: 0;
    padding: 0;
    transition: all 2s ease, border 0.4s;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.visible {
    width: auto;
    height: auto;
    opacity: 1;
    transition: all 2s ease, border 0.4s;
}