.container {
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
}
.mainMenu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 20;
    overflow-y: scroll;
    font-family: 'RobotoThin';
}
.mainMenu.mobile {
    position: sticky;
    display: none;
}
.toggleMenu {
    display: none;
}
.toggleMenu.mobile {
    display: block;
}
.mainMenu ul {
    display: flex;
    justify-content:center;
}
.mainMenu li {
    list-style: none;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mainMenu li:hover > a,
.mainMenu li:focus > a {
    color: var(--detach-secundary);
    transition: 0.4s;
}
.mainMenu li > a {
    height: 100%;
}
.mainMenu > li::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 6px;
    background: var(--detach-secundary);
    transition: all 0.2s;
}
.mainMenu li:hover::before {
    width: 100%;
}
.mainMenu li a {
    color: var(--white);
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
    transition: 0.4s;
    cursor: pointer;
}
.subMenu {
    display: none !important;
    position: absolute;
    padding: 0 20px;
    margin: 60px 0 15px 0;
    z-index: 100;
    border: 1px solid var(--detach);
    background: var(--detach-tertiary);
}
ul.subMenu a {
    font-weight: 300;
    font-size: 0.9rem;
}
.activeMenu {
    display: block !important;
}
.mainMenu li > ul li {
    padding: 0px;
    text-align: left !important;
}
.toggleMenu {
    padding: 10px;
    width: 30px;
    height: 25px;
}
.toggleMenu:hover {
    cursor: pointer;
}
.toggle1, .toggle2, .toggle3 {
    display: block;
    width: 30px;
    height: 4px; 
    border-radius: 5px;
    background: var(--ice-white);
    margin-bottom: 5px;
    transition: 0.4s ease;
}
.toggle1.toggleOpen {
        transform: rotate(45deg);
        margin-top: 7px;
        margin-bottom: -20px;
        transition: 0.4s ease;
}
.toggle2.toggleOpen{
    opacity: 0;
}
.toggle3.toggleOpen {
    transform: rotate(-45deg);
    margin-bottom: 0px;
    margin-top: 12px;
    transition: 0.4s ease;
}

.mobileMenu {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--mobile-menu);
    z-index: 999;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0 0 0;
}
.mobileMenu .toggleMenu.mobile {
    position: absolute;
    right: 20px;
    top: 45px;
    z-index: 99;
}
.mobileMenu ul {
    flex-direction: column;
}
.mobileMenu li {
    padding: 15vh 0;
    box-sizing: border-box;
}
.mobileMenu li a:focus {
    color: var(--detach-secundary);
}
.mobileMenu li a {
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .mainMenu li:hover ul {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .mobileMenu li {
        padding: 0;
        width: 100%;
    }
    .subMenu {
        position: relative;
        margin: 0;
        width: 100vw;
    }
    .subMenu li {
        padding: 20px 0 !important;
        width: 100%;
    }
    .subMenu li a {
        width: 100%;
        display: inline-block;
        padding: 0;
        font-size: 0.8rem;
        margin: 0 auto;
        text-align: center;
        color: var(--white);
    }
}