.dark {
    --li-after-background: var(--dark-gray);
    --li-hover-background: var(--dark-gray-transparency-2);
    --link-hover: var(--detach);
    --link-color: var(--white);
    --submenu-background: var(--dark-gray-transparency);
    --submenu-li-border-color: var(--gray);
    --submenu-link-color: var(--medium-gray);
    --hamb-line-background: var(--ice-white);
    --mobile-menu-background: var(--mobile-menu);
    --mobile-menu-li-focus: var(--detach);
}
.light {
    --li-after-background: var(--light-gray);
    --li-hover-background: transparent;
    --link-hover: var(--white);
    --link-color: var(--light-gray);
    --submenu-background: var(--light-gray-transparency);
    --submenu-li-border-color: var(--ice-white);
    --submenu-link-color: var(--dark-gray);
    --hamb-line-background: var(--medium-gray);
    --mobile-menu-background: var(--mobile-menu);
    --mobile-menu-li-focus: var(--detach);
}
.mainMenu {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: var(--detach-transparency);
    margin: 0 70px;
    border-radius: 40px;
}
.mainMenu.mobile {
    display: none;
}
.toggleMenu {
    display: none;
}
.toggleMenu.mobile {
    display: block;
}
.mainMenu ul {
    display: flex;
    justify-content:center;
    align-items: center;
}
.mainMenu li {
    list-style: none;
    align-content: center;
    padding: 15px;
}
.mainMenu li::after {
    /* content: '';
    display: inline-block;
    position: relative;
    top: 10px;
    left: 15px;
    width: 2px;
    height: 35px;
    opacity: 0.3;
    background: var(--li-after-background); */
}
.mainMenu:last-child {
    display: none !important;
}
.mainMenu li:hover {
    background-color: var(--li-hover-background);
}
.mainMenu li:hover > a,
.mainMenu li:focus > a {
    color: var(--link-hover);
    transform: scale(1.1);
    transition: 0.4s;
}
.mainMenu li a {
    color: var(--link-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}
.subMenu {
    display: none !important;
    position: absolute;
    display: flex;
    padding: 0 10px 10px 10px;
    margin: 15px 0 0 -15px;
    border-radius: 10px;
    background: var(--submenu-background);
}
ul.subMenu a {
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--submenu-link-color) !important;
}
.subMenu li {
    border-bottom: 1px solid var(--submenu-li-border-color);
}
.activeMenu {
    display: block !important;
}
.mainMenu li > ul li {
    padding: 15px 30px;
    text-align: left;
}
.toggleMenu {
    padding: 10px;
    width: 30px;
    height: 25px;
}
.toggleMenu:hover {
    cursor: pointer;
}
.toggle1, .toggle2, .toggle3 {
    display: block;
    width: 30px;
    height: 4px; 
    border-radius: 5px;
    background: var(--hamb-line-background);
    margin-bottom: 5px;
    transition: 0.4s ease;
}
.toggle1.toggleOpen {
        transform: rotate(45deg);
        margin-top: 7px;
        margin-bottom: -20px;
        transition: 0.4s ease;
}
.toggle2.toggleOpen{
    opacity: 0;
}
.toggle3.toggleOpen {
    transform: rotate(-45deg);
    margin-bottom: 0px;
    margin-top: 12px;
    transition: 0.4s ease;
}
.mobileMenu {
    margin-top: -130px;
    width: 100vw;
    height: calc(100vh + 130px);
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mobile-menu-background);
    z-index: 2000;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 15vh 0 0 0;
}
.mobileMenu .toggleMenu.mobile {
    position: absolute;
    right: 20px;
    top: 45px;
}
.mobileMenu ul {
    flex-direction: column;
    padding: 15vh 0;
}
.mobileMenu li {
    padding: 15px 0;
}
.mobileMenu li a:focus {
    color: var(--mobile-menu-li-focus);
}
.mobileMenu li a {
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .mainMenu li:hover ul {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .mainMenu {
        background: transparent;
    }
    .mainMenu li a {
        color: var(--detach-secundary);
    }
    .mainMenu li:hover a {
        color: var(--detach);
    }
    .subMenu {
        position: relative;
        padding:  10px 0 !important;
        margin: 10px 0 0 0;
        width: 100vw;
    }
    .subMenu li a {
        display: inline-block;
        padding: 0;
        width: 100%;
        font-size: 0.8rem;
        margin: 0 auto;
        text-align: center;
        color: var(--submenu-link-color);
    }
}