.primaryButton, input[type='submit'].primarySubmit {
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    font-size: 1rem;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 0;
    flex-grow: 1;
    z-index: 10;
    background-color: var(--detach);
    color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.primaryButton:focus,
.primaryButton:hover,
input[type='submit'].primarySubmit:focus,
input[type='submit'].primarySubmit:hover
{
     filter: var(--button-hover);
     transition: 0.3s ease;
     cursor: pointer;
}

input[type='submit'].primarySubmit:disabled {
    filter: brightness(0.65);
    cursor: wait;
}
.buttonContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.loader {
    position: absolute;
    z-index: 100;
}
.loader span {
    display: block;
}
.adminButton{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-button);
    border-radius: 10px;
    color: var(--color-title);
    transition: all 0.4s ease;
}
.adminButton:hover {
    filter: var(--button-hover);
    color: var(--purple);
    transition: all 0.4s ease;
    cursor: pointer;
}