.searchContainer { 
    width: 50%;
}
.searchContainer > div > input {
    padding: 7px;
    border-radius: 20px;
}
.searchContainer > div > input:focus-visible {
    box-shadow: 0 0 0 3px var(--purple-light);
    outline: none;
}
.selectionContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-subtitle);
}
.options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 40px;
    padding: 0 20px;
    margin: 50px 60px 10px 60px;
    border-bottom: 3px outset var(--color-secundary);
    color: var(--color-title);
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-list-item);
    margin: 20px 60px;
    padding: 15px 30px;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.user:hover {
    filter: var(--item-hover);
    transition: all 0.4s ease;
}
.user h1 {
    color: var(--purple-extra-light);
}
.user p {
    color: var(--color-subtitle);
}
.user span {
    color: var(--color-title);
}
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.actions span {
    width: 20px;
}
.actions svg, .options svg {
    fill: var(--color-title);
    width: 1.3rem;
    height: 1.3rem;
    transition: all 0.4s ease;
}
.actions span:hover svg {
    fill: var(--purple-light);
    transition: all 0.4s ease;
}
.actions label span:hover svg {
    fill: var(--color-title);
}
.usersCount span {
    font-weight: 600;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .user {
        margin: 20px 0;
    }
    .options {
        margin: 50px 0 -10px 0;
    }
}
@media (max-width: 991px) {
   .options {
        justify-content: center;
        align-items: center;
    } 
}
@media (max-width: 767px) {
    .user {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .actions {
        flex-direction: row;
    }
    .actions span {
        padding: 20px 40px;
        margin: 10px 0;
    }
    .options {
        margin: 50px 10px 10px 10px;
    }
}
@media (max-width: 480px) {
    .options {
        padding: 20px 5px;
     } 
 }