.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 15px 100px;
    margin: 0;
    border-radius: 0px 0px 50px 50px;
    background: var(--page-header-backgorund);
    color: var(--page-header-title);
}
.searchContainer { 
    width: 50%;
    margin-left: -40px;
}
.searchContainer > div > input {
    padding: 7px;
    border-radius: 20px;
    border-color: var(--page-header-search-border);
}
.searchContainer > div > input:focus-visible {
    box-shadow: 0 0 0 3px var(--purple-light);
    outline: none;
}
@media (max-width: 991px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px 0;
        padding: 15px 40px;
        text-align: center;
    }
    .searchContainer { 
        width: 100%;
    }
}