.itemContainer {
    display: grid;
    grid-template-columns: 8% 30% 20% 17% 25% ;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "idLabel taxLabel slugLabel countLabel actionLabel"
        "id tax slug count action"
    ;
    align-items: center;
    box-sizing: border-box;
    /* gap: 0 30px; */
    padding: 10px 20px;
    background: var(--taxonomy-background);
    color: var(--color-subtitle);
    border-radius: 10px;
    margin: 5px 0;
}
.headerContainer {
    background: var(--taxonomy-header-background);
    padding: 30px 20px;
}
.headerContainer .taxonomyId, .headerContainer .taxonomyName, .headerContainer .taxonomySlug, .headerContainer .taxonomyActions, .headerContainer .taxonomyCount {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-subtitle);
}
.itemContainer label {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--color-subtitle);
}
.taxonomyId {
    grid-area: id;
}
.taxonomyName {
    grid-area: tax;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
    color: var(--color-title);
}
.taxonomySlug {
    grid-area: slug;
    text-align: center;
    margin: 5px 0;
}
.taxonomyCount {
    grid-area: count;
    text-align: center;
    color: var(--purple-light);
    margin: 5px 0;
}
.taxonomyActions {
    grid-area: action;
    justify-content: center;
    display: flex;
    flex-direction: row;
    min-width: 200px;
    gap: 5px;
}
.labelId {
    grid-area: idLabel;
    display: none;
}
.labelName {
    grid-area: taxLabel;
    display: none;
}
.labelSlug {
    grid-area: slugLabel;
    text-align: center;
    display: none;
}
.labelCount {
    grid-area: countLabel;
    text-align: center;
    display: none;
}
.labelAction {
    grid-area: actionLabel;
    text-align: center;
    display: none;
}
@media (max-width: 1300px) {
    .taxonomyActions {
        flex-direction: column;
        text-align: center;
        min-width: 100px;
    }
}
@media (max-width: 767px) {
    .itemContainer {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "idLabel id actionLabel"
        "taxLabel tax action"
        "slugLabel slug action"
        "countLabel count action"
        ;
        gap: 0 30px;
    }
    .taxonomyId {
        text-align: left;
        font-size: 0.875rem;
    }
    .taxonomyName {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .taxonomySlug {
        text-align: left;
        font-size: 0.875rem;
    }
    .taxonomyCount {
        text-align: left;
        font-size: 0.875rem;
    }
    .labelId {
        display: block;
        text-align: left;
    }
    .labelName {
        display: block;
        text-align: left;
    }
    .labelSlug {
        display: block;
        text-align: left;
    }
    .labelCount {
        display: block;
        text-align: left;
    }
    .labelAction {
        display: block;
    }
    .taxonomyActions {
        min-width: 50px;
    }
}
@media (max-width: 480px) {
    .itemContainer {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "idLabel id"
        "taxLabel tax"
        "slugLabel slug "
        "countLabel count "
        "actionLabel action"
    ;
    }
    .taxonomyActions {
        /* flex-direction: row; */
        justify-content: flex-start;
        margin: 15px 0 0 0;
    }
    .labelAction {
        text-align: left;
        margin: 15px 0 0 0;
    }
}