.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 30px 0 5px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--color-title);
}
.title textarea {
    min-height: 150px;
}
.title p {
    min-width: 200px;
    font-size: 1rem;
    font-weight: 600;
}
.title span {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 0 0 10px;
}
.subtitle {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 10px 0 0 0;
    color: var(--color-title);
}
.observation {
    font-size: 0.775rem;
    color: var(--color-subtitle);
}
.data {
    max-width: 700px;
    padding: 50px 100px;
}
img.preview {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--input-border);
}
.previewContainer {
    contain: content;
    width: 100%;
}
.coverPreview {
    display: flex;
    flex: 5;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    min-height: 100px;
    background: var(--preview-background);
    border-radius: 20px;
    border: var(--input-border);
    transition: all 0.4s ease;
    contain: content;
}
.coverPreview:hover {
    background: var(--preview-background-hover);
    transition: all 0.4s ease;
    cursor: pointer;
}
.coverPreview svg {
    width: 80px;
    height: 80px;
    fill: var(--preview-color);
    transition: all 0.4s ease;
}
.coverPreview:hover svg {
    fill: var(--preview-color-hover);
    transition: all 0.4s ease;
}
.removeFile {
    position: absolute;
    padding: 5px 10px;
    border-radius:10px;
    top: 20px;
    left: 20px;
    background: var(--purple);
    color: var(--white);
    font-weight: 900;
    z-index: 50;
}
.removeFile:hover {
    cursor: pointer;
}
.data p {
    color: var(--color-subtitle);
    margin: 10px 0;
}
.button {
    max-width: 250px;
    margin: 60px 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button span {
    border-color: var(--purple);
    border-left-color: transparent;
}
.button input[type="submit"] {
    color: var(--color-title);
}
.loading input[type="submit"] {
    color: var(--purple);
}
.loading input[type="submit"]:disabled {
    filter: var(--submit-button-disabled-filter);
}
.editorContainer {
    background: var(--text-editor-body);
    border-radius: 10px;
    border: var(--input-border);
    color: var(--text-editor-color);
}
.personalInputFile {
    margin: 0 0 10px 0;
    flex-grow: 0;
}
.personalInputFile input {
    display: none;
}
.personalInputFile span {
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--color-title);
    background: var(--color-primary);
}
.aboutUs {
    margin: 30px 0;
    padding: 30px 20px;
    border-radius: 20px;
    background: var(--config-background);
}

@media (max-width: 767px) {
    .data {
        padding: 50px 5px;
    }
    .title {
        flex-direction: column;
    }
}