.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 30px 0 5px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--color-title);
}
.title textarea {
    min-height: 150px;
}
.title p {
    min-width: 200px;
    font-size: 1rem;
    font-weight: 600;
}
.title span {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 0 0 10px;
}
.data {
    max-width: 700px;
    padding: 50px 100px;
}
.data p {
    color: var(--color-subtitle);
    margin: 10px 0;
}
.button {
    max-width: 250px;
    margin: 80px 0 20px 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button span {
    border-color: var(--purple);
    border-left-color: transparent;
}
.button input[type="submit"] {
    color: var(--color-title);
}
@media (max-width: 767px) {
    .data {
        padding: 50px 0px;
    }
    .title {
        flex-direction: column;
        margin: 15px 0 0 0;
    }
}