.container {
    grid-area: content;
    max-width: var(--boxed-size);
    margin: 0 auto;
    padding: 0 0  200px 0;
    display: grid;
    min-height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--fixed-header-height) + 100px ) 1fr;
    grid-template-areas:
        "menu"
        "result"
    ;
    box-sizing: border-box;
}
.searchResults {
    grid-area: result;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 0;
}
span.sectionResult {
    font-size: 1.3rem;
    display: inline;
    font-weight: 900;
    color: var(--detach);
}
.noResults {
    display: block;
    padding: 30px;
    border-bottom: 1px solid var(--light-gray);
    background: linear-gradient(90deg, var(--white), var(--ice-white), var(--white));
}