.container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "icon title"
        "icon text"
    ;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}
.container svg {
    grid-area: icon;
    width: 1.8rem;
    height: 1.8rem;
    margin: 10px 0;
    fill: var(--detach);
}
.title {
    grid-area: title;
    justify-content: center;
    margin:  10px 0 0;
    font-size: 1.2rem;
    color: var(--detach);
}
.text {
    grid-area: text;
    margin: -10px 0 0 0;
    font-size: 0.875rem;
    color: var(--light-gray);
}
@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "icon"
            "title"
            "text"
        ;
        box-sizing: border-box;
        margin: 15px 0px;
    }
    .container > div {
        justify-content: center;
    }
    .title {
        font-size: 1rem;
    }
    .text {
        font-size: 0.75rem;
    }
}