.contentContainer {
    grid-area: content;
    display: grid;
    width: 100%;
    max-width: var(--boxed-size);
    margin: calc(var(--fixed-header-height) + 100px ) auto;    
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "blog sidebar"
    ;
    box-sizing: border-box;
}
.container {
    background-color: transparent;
    text-align: center;
    padding: 0 30px;
}
.postContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
}
.blog {
    grid-area: blog;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 200px 0;
}
.blogItem {
    box-sizing: border-box;
    gap: 20px;
}
.sidebar {
    grid-area: sidebar;
    padding: 0 0 250px 0;
    max-width: 300px;
    min-width: 200px;
}
.relatedPosts h2 {
    font-size: 1rem;
    text-align: center;
    margin: 50px 0 0 0;
}
.none {
    display: none;
}

