.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 30px;
    border-radius: 30px 0 30px 30px;
    background: var(--dark-gray-transparency);

    .info {
        box-sizing: border-box;
        padding: 35px;
        border-radius: 10px;
        border: 1px solid var(--dark-gray);
        background: var(--black);
        h3 {
            margin: 0;
            font-size: 1.6rem;
            color: var(--white);
            letter-spacing: -1px;
        }
        b {
            display: block;
            width: 100%;
            text-align: center;
        }
        .button {
            background: transparent;
            font-size: 0.875rem;
            padding: 10px 0;
            svg {
                transition: 0.4s;
            }
            &:hover {
                color: var(--text-detach);
                svg {
                    fill: var(--text-detach);
                }
            } 
        }
        svg {
            width: 1.3rem;
            height: 1.3rem;
            fill: var(--white);
        }
        
    }
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px 25px;
        border-radius: 25px;
        box-sizing: border-box;
        .title {
            color: var(--white);
            font-size: 1.4rem;
        }
        .input {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto 1fr;
            grid-template-areas: 
                "label"
                "input"
                "error"
            ;
            align-self: flex-start;
            font-size: 0.9rem;
            
            >label {
               grid-area: label;
               padding: 5px 10px;
               color: var(--light-gray);
            }
            input, select, textarea {
                grid-area: input;
                margin:  0;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid var(--dark-gray-2);
                padding: 5px 15px;   
                font-size: 0.8rem;
                min-height: 40px;
                color: var(--white);
                &:focus-visible {
                    outline: none;
                    border: 1px solid var(--dark-gray-3);
                }
            }
            select {
                background-color: var(--dark-gray-2);
             }
            textarea {
               padding: 15px;
               font-family: MontSerrat;
               font-size: 0.9rem;
            }
        } 
        .authorization {
            grid-area: accept;
            display: flex;
            flex-direction: column;
        }
        .authorization {
            p {
                font-size: 15px !important;
            }
        }
        .check {
            display: grid;
            grid-template-columns: 50px 1fr;
            align-items: center;
            line-height: 1.5rem;
            font-size: 0.75rem;
            color: var(--light-gray);
            
            span div svg {
                margin: 0 0 0 8px;
                fill: var(--white);
            }
        }
        .message {
            grid-area: message;
        }
        .submit {
            grid-area: submit;
            margin: 20px auto 20px 0;
            
            input {
                width: auto;
                text-transform: uppercase;
                background-color: var(--gray) !important;
                color: var(--white) !important;
            }
        }
        .mailStatus {
            grid-area: mailMessage;
            display: none;
        }
        .success {
            display: block;
            padding: 20px;
            color: green;
        }
        .error {
            display: block;
            padding: 20px;
            color: red;
        }
        .displayError {
            grid-area: error;
            display: block;
            color: red;
            font-size: 0.8rem;
            padding: 5px 10px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .form {
        padding: 10px;
        gap: 0;
        box-sizing: border-box;
        contain: content;
        .input {
            input {
                width: 90%;
            }
            textarea {
                width: 90%;
            }
        }
    }
}