.footer {
    grid-area: footer;
    width: var(--full-width);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "contactForm"
        "iconBox"
        "search"
    ;
    background-color: var(--detach-tertiary);
    justify-items: center;
}
.contactForm {
    width: 100%;
    max-width: var(--boxed-size);
}
.iconBoxes {
    grid-area: iconBox;
    max-width: var(--boxed-size);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0;
}
.social {
    grid-area: social;
    max-width: var(--boxed-size);
    width: 100%;
    color: var(--white);
}
.search {
    grid-area: search;
    max-width: var(--boxed-size);
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    height: 50px;
}
.search ul li a {
    font-size: 0.7rem;
}
@media (max-width: 767px) {
    .iconBoxes {
        flex-direction: column;
       align-items: center;
        text-align: center;
    } 
    .search {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        height: 100px;
    }
}
