.container {
    grid-area: copyright;
    background: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    max-width: var(--boxed-size);
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 0;
    color: var(--white);
    font-size: 0.75rem;
}
.copyright a {
    color: var(--white);
    transition: 0.3s ease;
}
.copyright a:hover {
    color: var(--detach);
    transition: 0.3s ease;
}
.copyLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 0 15px 0;
}
.copyLeft a {
    padding: 30px 0;
}
@media (max-width: 767px) {
    .copyright {
        flex-direction: column;
        flex: initial;
        align-items: center;
        padding: 30px 10px;
    }
    .container {
        text-align: center;
    }
    .copyLeft {
        flex-direction: column;
    }
}