.topBarContainer {
    padding: 5px 0;
    background-color: var(--dark-gray);
    z-index: -1;
}
.topBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px ;
    grid-template-areas: 
        "topBarLeft topBarRight"
    ;
    align-items: center;
    max-width: var(--boxed-size);
    margin: 0 auto;
}
.topBar p, .topBar a {
    font-size: 0.85rem;
    color: var(--white);
}
.topBarLeft {
    grid-area: topBarLeft;
    text-align: left;
    display: flex;
}
.topBarLeft svg {
    width: 1rem;
    height: 1rem;
    margin: 0 10px 0 0 ;
    fill: var(--medium-gray);
}
.topBarRight {
    grid-area: topBarRight;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
}
@media (max-width: 991px) {
    .topBar a, .topBarRight {
        font-size: 0.675rem;
    }
    .topBar {
        grid-template-columns: auto;
        grid-template-rows: 40px 40px ;
        grid-template-areas: 
            "topBarLeft"
            "topBarRight"
        ;
    }
    .topBarLeft {
        text-align: center;
        justify-content: center;
        padding: 0 20px;
    }
    .topBarRight {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .topBarRight p {
        margin: 20px 0 5px 0;
    }
    .topBarRight > div {
        margin: 0;
    }
}
@media (max-width: 480px) {
    .topBar {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 60px ;
        grid-template-areas: 
            "topBarLeft"
            "topBarRight"
        ;
    }
}