body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Poppins-Light', sans-serif;
    background: var(--ice-white);
}
body a {
    text-decoration: none;
}
:root {
    --full-width: 100vw;

    /* Color Variables */
    --black: #000;
    --dark-gray: #181818;
    --dark-gray-transparency: #181818ea;
    --dark-gray-transparency-2: #1818185e;
    --dark-gray-2: #1a1a1a;
    --dark-gray-3: #212121;
    --gray: #333;
    --medium-gray: #737373;
    --light-gray: #d4d4d4;
    --light-gray-transparency: #ecececf1;
    --light-gray-transparency-2: #d4d4d45e;
    --detach: #ED3237;
    --detach-transparency: #8d0005d7;
    --detach-secundary: #8d0005;
    --detach-tertiary: #570003;
    --ice-white: #f7f7f7;
    --white: #fff;
    --facebook-background: #133783;
    --messenger-background: #045ba7;
    --telegram-background: #2496ff;
    --whatsapp-background: #00e61b;
    --twitter-background: #2aa9e0;
    --input-checked: #ED3237;

    /* Components Color Variables */
    --top-bar: #181818;
    --header: #181818bb;
    --fixed-header: transparent;
    --mobile-menu: #dadadae8;
    --about-us-divisor: #181818;
    --filter-box: #333;
    --search-bar-dark: #ffffff10;
    --search-bar-light: #00000010;
    --blog-divisor: #000000;

    --decorated-title-1-offcolor1: #050505;
    --decorated-title-1-offcolor2: #151515;
    --decorated-title-1-offcolor3: #30303000;
    
    --decorated-title-2-offcolor1: #d4d4d400;
    --decorated-title-2-offcolor2: #8e8e8e;
    --decorated-title-2-offcolor3: #8e8e8e;
    --decorated-title-2-offcolor4: #d4d4d400;

    --view-overlay-background: #181818e8;
    
    /* Size Variables */
    --boxed-size: 1100px;
    --boxed-padding: 0 10vw;
    --header-height: 0px;
    --fixed-header-height: 150px;
    --slide-height: 900px;
    --back-to-top-width: 90px;
    
}
@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/fonts/Poppins-Light.ttf');
}
.container {
    font-family: 'Poppins-Light', sans-serif;

    display: grid;
    contain: content;
    grid-template-columns: auto;
    grid-template-rows:  50px 0px 1fr auto auto 0 0 0;
    grid-template-areas:
        "topbar"
        "header"
        "content"
        "footer"
        "copyright"
        "chat"
        "backtotop"
        "cookie"
    ;
}
.private-container {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 0px auto 1fr;
    grid-template-areas: 
        "loader loader"
        "nav header"
        "nav body"
    ;
}
div.react-datepicker {
    background-color: var(--input-date-picker-body);
    color: var(--color-subtitle);
    border: 1px solid var(--input-date-picker-body);
    box-shadow: 5px 5px 8px 1px var(--input-date-picker-header);
}
div.react-datepicker__header {
    background-color: var(--input-date-picker-header);
    border-bottom: 1px solid var(--input-date-picker-body);
}
div.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    color: var(--color-title);
}
div.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: var(--color-subtitle);
}
div.react-datepicker__day-name, div.react-datepicker__day, div.react-datepicker__time-name {
    color: var(--color-subtitle);
}
div.react-datepicker__day--selected, div.react-datepicker__day--in-selecting-range, div.react-datepicker__day--in-range, div.react-datepicker__month-text--selected, div.react-datepicker__month-text--in-selecting-range, div.react-datepicker__month-text--in-range, div.react-datepicker__quarter-text--selected, div.react-datepicker__quarter-text--in-selecting-range, div.react-datepicker__quarter-text--in-range, div.react-datepicker__year-text--selected, div.react-datepicker__year-text--in-selecting-range, div.react-datepicker__year-text--in-range {
    background-color: var(--purple);
    color: var(--white);
}
div.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: var(--input-date-picker-header);
}
div.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, div.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
    border-bottom-color: var(--input-date-picker-header);
}
div.react-datepicker__day--selected:hover, div.react-datepicker__day--in-selecting-range:hover, div.react-datepicker__day--in-range:hover, div.react-datepicker__month-text--selected:hover, div.react-datepicker__month-text--in-selecting-range:hover, div.react-datepicker__month-text--in-range:hover, div.react-datepicker__quarter-text--selected:hover, div.react-datepicker__quarter-text--in-selecting-range:hover, div.react-datepicker__quarter-text--in-range:hover, div.react-datepicker__year-text--selected:hover, div.react-datepicker__year-text--in-selecting-range:hover, div.react-datepicker__year-text--in-range:hover {
    background-color: var(--purple-light);
}
div.react-datepicker__day--keyboard-selected, div.react-datepicker__month-text--keyboard-selected, div.react-datepicker__quarter-text--keyboard-selected, div.react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: var(--purple);
    color: var(--white);
}
@media (max-width: 1200px) {
    .container {
        --fixed-header-height: 118px;
    }
}
@media (max-width: 991px) {
    .container {
        grid-template-rows: 0px 90px var(--header-height) 1fr auto auto auto;
    }
}
@media (max-width: 767px) {
    img {
        max-width: 90%;
    }
}