.container {
    --package-divisor-start: #000;
    --package-divisor-end: var(--dark-gray);
    --product-2-divisor-start: #000;
    --product-2-divisor-end: var(--dark-gray);
    --media-basic-divisor-start: #0000;
    --media-basic-divisor-end: var(--dark-gray);
    --media-basic-divisor2-start: #000;
    --media-basic-divisor2-end: #0000;
    --media-gold-divisor-start: #101010;
    --media-gold-divisor-end: #000;

    grid-area: content;
    width: var(--full-width);

    .packages, .product1, .product2, .portfolio {
        max-width: var(--boxed-size);
        margin: 0 auto;
    }
    .productsContainer1 {
        background: linear-gradient(180deg, var(--dark-gray), var(--dark-gray-3));
        padding: 50px 0 220px 0;
    }
    .productsContainer2 {
        background: linear-gradient(270deg, var(--dark-gray), var(--black));
        margin: 0;
        padding: 50px 0;
    }
    .testemonial {
        max-width: var(--boxed-size);
        margin: -80px auto -90px auto;
        svg {
            :nth-child(1) {
                fill: var(--dark-gray);
                fill-opacity: 1 !important;
            }
        }
    }
    .socialContainer {
        background: linear-gradient(180deg, var(--black), var(--dark-gray));
        .socialContent {
            max-width: var(--boxed-size);
            background: transparent;
            margin: 0 auto;
            padding: 70px 0;

            .phrasePrimary, .phraseSecundary, .phraseTertiary {
                text-align: right;
                margin: -10px 0;
                color: var(--light-gray);
                span {
                    font-family: 'RobotoBold';
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    margin: 5px;
                    color: var(--detach-secundary);
                }
            }
            .phrasePrimary {
                font-size: 1.875rem;
                font-family: 'Comic Sams MS';
            }
            .phraseSecundary {
                font-size: 3.3rem;
                font-family: 'Cookie';
                margin: 5px 170px -5px 0;
            }
            .phraseTertiary {
                font-size: 2rem;
                font-family: 'Arial';
                margin: 0 100px 0 0;
            }
            .shortDescription {
                text-align: right;
                margin: 15px 0;
            }
        }
    }
    .socialContainer2 {
        background: linear-gradient(90deg, var(--black), #101010);
        .socialContent {
            max-width: var(--boxed-size);
            background: transparent;
            margin: 0 auto;
            padding: 70px 0;
        }
    }
    .socialContainer3 {
        background: linear-gradient(0deg, var(--black), var(--dark-gray));
        .socialContent {
            max-width: var(--boxed-size);
            background: transparent;
            margin: 0 auto;
            padding: 70px 0;
        } 
    }

    @media(max-width: 767px) {
        .phrasePrimary, .phraseSecundary, .phraseTertiary {
            margin: 0 !important;
            transform: scale(0.7);
        }
        .shortDescription{
            padding: 0 10px;
            text-align: center !important;
        }
    }
}