.content {  
    padding: 50px 100px;
    color: var(--color-subtitle);
}
.content h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-title);
}
.general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
}
.generalItem {
    width: 100%;
    padding: 0 25px;
    border-radius: 20px;
    box-sizing: border-box;
    background: var(--color-list-item);
}
.itemHeader h3 {
    color: var(--color-title);
}
.itemHeader {
    display: flex;
    align-items: center;
    margin: 30px 0 -20px 0;
    padding: 10px 20px;
}
.itemHeader svg {
    fill: var(--color-subtitle);
}
.devices span {
    margin: 10px 0;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.data span {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    border-bottom: 2px solid var(--color-border-list-item);
}
.data p {
    margin: 15px 0 0 0;
    line-height: 2.5rem;
}
.result {
    font-weight: 600;
    font-size: 2rem;
    color: var(--purple-light);
}
.result div {
    padding: 20px;
}
.filter {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) auto auto;
    align-items: center;
    gap: 20px;
    padding: 0 0 40px 0;
}
.chartContainer {
    max-height: 500px;
    /* max-width: 500px; */
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-radius: 20px;
    box-sizing: border-box;
    background: var(--color-list-item);
}
.chart {
    width: 450px;
    height: 450px;
}

@media (max-width: 1240px) {
    .general {
        flex-direction: column;
    }
    .filter {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .datePicker > div {
        width: 100%;
    }
    .chart {
        padding: 15px;
        box-sizing: border-box;
    }
}
@media (max-width: 991px) {
    .content {  
        padding: 50px 30px;
    }
    .filter {
        grid-template-columns: minmax(300px, 1fr) auto auto;
        grid-template-rows: auto;
    }
    .datePicker > div {
        width: auto;
    }
    .general {
        flex-direction: row;
        gap: 10px;
    }
    .generalItem {
        padding: 0 15px;
    }
}
@media (max-width: 767px) {
    .content {  
        padding: 50px 0;
    }
    .filter {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .datePicker > div {
        width: 100%;
    }
    .general {
        flex-direction: column;
    }
    .chart {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 480px) {
    .chart {
        width: 300px;
        height: 300px;
    }
}